@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.advanced-neon-text {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFD700, 0 0 20px #FFD700, 0 0 25px #FFD700, 0 0 30px #FFD700, 0 0 35px #FFD700;
    animation: advanced-flicker 3s infinite;
}

@keyframes advanced-flicker {

    0%,
    19%,
    21%,
    23%,
    35%,
    100% {
        opacity: 1;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFD700, 0 0 20px #FFD700, 0 0 25px #FFD700, 0 0 30px #FFD700, 0 0 35px #FFD700;
    }

    20%,
    22% {
        opacity: 0.6;
        text-shadow: none;
    }
}